html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Fira Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

main {
    margin: 0 auto;
    padding: 20px;
    max-width: 1024px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-weight: 500;
    padding: 16px;
    cursor: pointer;
}

td {
    padding: 12px;
    vertical-align: top;
}

td:last-child {
    width: 25%;
    text-align: center;
}

table,
th,
td {
    border: 1px solid gray;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin: 16px 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    padding: 8px;
    cursor: pointer;
}

#to-previous-page:hover,
#to-next-page:hover,
.page-number:hover {
    color: gray;
}

.current-page,
.active-sort,
.current-page:hover {
    color: #278AE2;
}

.current-page {
    cursor: auto;
}